/* styles.css */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: #f43f5e;
  font-size: 2.5rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #ccc;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-section__input-group {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.labelled-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.3rem;
}

.labelled-input label {
  color: #ccc;
}

.controls {
  background: #1e1e1e;
}

.form-section__input-group input,
.form-section__input-group select {
  max-width: 100%;
  padding: 0.5rem;
  background: #2e2e2e;
  color: #fff;
  border: 1px solid #444;
  border-radius: 0.3rem;
}

#addMovieBtn {
  background-color: #e11d48;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.controls label {
  margin-right: 10px;
}

.controls button,
.controls select {
  padding: 8px 12px;
  background-color: #2e2e2e;
  color: #fff;
  border: 1px solid #444;
  border-radius: 0.3rem;
  cursor: pointer;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  background-color: #1e293b;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.movie-card h4 {
  margin: 0 0 8px;
  color: #fff;
}

.movie-card .genre {
  background-color: #e11d48;
  color: #fff;
  padding: 4px 8px;
  border-radius: 12px;
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 8px;
}

.movie-card .stars {
  margin: 10px 0;
  color: gold
}

.movie-card button {
  margin-right: 5px;
  background: #333;
  color: #fff;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.movie-card.watched {
  opacity: 0.5;
  text-decoration: line-through;
}

/* Stars */
.stars span {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
  transition: color 0.2s ease;
}

.stars span.hover,
.stars span.selected {
  color: gold;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  color: red;
}

.modal-content input,
.modal-content select {
  width: 100%;
  margin: auto;
  padding: auto;
  background: #2e2e2e;
  border: 1px solid #444;
  color: white;
  margin-bottom: 15px;
  border-radius: 0.3rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.modal-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
}

#saveEditBtn {
  background-color: #16a34a;
  color: white;
}

#cancelEditBtn {
  background-color: #444;
  color: white;
}

